version: '3.8'

services:
  api:
    image: ${FULL_IMAGE_NAME}
    container_name: titanic-api
    command: uvicorn src.api.app:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    restart: always

    ui:
      image: ${FULL_IMAGE_NAME}
      container_name: titanic-ui
      command: streamlit run src/ui/dashboard.py --server.port 8501 --server.address 0.0.0.0
      ports:
        - "80:8501"
      environment:
        - API_URL=http://api:8000
      depends on:
        - api
      restart: always